@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");


:root {
  --primaryColor: #fff;
  --navColor1: #21292c;
  --navColor2: #aa3e39;
  --navColor3: #aa6e39;
  --navColor4: #236267;
  --navColor5: #2c8437;
}
html, body {margin: 0; height: 100%;}
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #21292c;
  font-family: 'Proza Libre', sans-serif;
}

/* --- Navigation Menu ------------------------------ */  
.sm a{
  display: inline-block;
  font-size: 40px;
  /*background-color: red;*/
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  margin: 0 16px;
  transition: .4s linear;
  position: relative;
  top: 70%;
}

.sm a::before, .sm a::after{
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /*border: 4px solid;*/
  left: 0;
  top: 0;
  transition: .4s linear;
}

.sm a:hover{
  transform: scale(.8);
}

.sm a:hover::before{
  border-left: 4px solid;
  border-right: 4px solid;
  transform: skewX(20deg)
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  margin-top: 0.4%;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 19px 7.9%;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: red;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
.sm a:hover::after{
  border-top: 4px solid;
  border-bottom: 4px solid;
  transform: skewY(-20deg);
}
/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

/* Slide in animation with delay for each */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}
#card1{
  margin-top: 100px;
  border-radius: 25px;
  width:300px;
  height:400px;
  background:#21292c;
  position: absolute;
  }
.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}
body {
    color: white;
    height: 100vh;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */






/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {


  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }
}
#ham-button {
  display: none;
   background-color: black;
   border-color: black;
   border: -1px;
  color: white;
  padding: 15.4px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  float: right;
}
#myImage {
  width: 20%;
  margin-top: 0.7%; 
  margin-left: -1%;
  position: absolute;
}
/* Switch to hamburger menu on small devices */
@media ( max-width:768px) {
  #sec {
    height: 11%; background-color: black;
  }
  #myImage {
    display: block;
    position: static;
    width: 80%;
    background-color: black;
  }
  .topnav a {
  width: 100%;
  padding: 0px;
  justify-content: center;
  margin-top: 10%;
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 25px;
}
  #side-menu {
    
    margin-left: -5;
    margin-right: auto;
    text-align: center;
    background-color: black;
    display: none; 
    position: absolute;
    width: 100%;
  border-radius: 0px;
  color: white;
  float: none;
    
  }
  #navlast {
    padding-bottom: 9%;
  }
  #ham-button {display: block; position: relative;}
}
